@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
section{
    min-height: 100vh;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 85%;
    margin-top: auto;

}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: #eb7620;
}
nav ul{
    float: right;
    line-height: 80px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: #d3660d;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a :hover{
    background-color: #db1212;
    transition: 0.5s ease;

}
nav ul li.active{
    background-color: #db1212;
}
.article{
    width: 100%;
    margin-auto;
    text-align: center;
    transform: translateY(25vh);
}